
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    label {
      margin-bottom: 5px;
      font-weight: bold;
    }

    input, button {
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 250px;
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color: #007bff;
      }
    }

    input[type='submit'], button{
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }

    #labelStatus{
      font-size: larger;
    }
    #labelKljuc{
      font-weight: bold;
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: x-large;
    }
    .labelMessage{
      font-style: italic;
      color: #007bff
    }
  }
